@tailwind base;
@tailwind components;
@tailwind utilities;

.box2 {
  clip-path: polygon(
    0.12% 7.283%,
    0.12% 7.283%,
    0.236% 6.102%,
    0.573% 4.981%,
    1.112% 3.936%,
    1.834% 2.982%,
    2.722% 2.133%,
    3.757% 1.405%,
    4.921% 0.813%,
    6.196% 0.371%,
    7.563% 0.095%,
    9.004% 0%,
    91.116% 0%,
    91.116% 0%,
    92.557% 0.095%,
    93.924% 0.371%,
    95.199% 0.813%,
    96.363% 1.405%,
    97.398% 2.133%,
    98.286% 2.982%,
    99.008% 3.936%,
    99.547% 4.981%,
    99.884% 6.102%,
    100% 7.283%,
    100% 66.634%,
    100% 66.634%,
    99.884% 67.815%,
    99.547% 68.936%,
    99.008% 69.981%,
    98.286% 70.935%,
    97.398% 71.784%,
    96.363% 72.512%,
    95.199% 73.104%,
    93.924% 73.546%,
    92.557% 73.822%,
    91.116% 73.917%,
    85.606% 73.917%,
    85.606% 73.917%,
    82.891% 74.099%,
    80.319% 74.623%,
    77.924% 75.463%,
    75.74% 76.587%,
    73.804% 77.968%,
    72.149% 79.577%,
    70.81% 81.384%,
    69.823% 83.36%,
    69.222% 85.477%,
    69.041% 87.705%,
    69.132% 92.607%,
    69.132% 92.607%,
    69.035% 93.801%,
    68.713% 94.937%,
    68.183% 95.996%,
    67.465% 96.965%,
    66.578% 97.828%,
    65.539% 98.568%,
    64.369% 99.171%,
    63.084% 99.621%,
    61.705% 99.903%,
    60.249% 100%,
    9.004% 100%,
    9.004% 100%,
    7.563% 99.905%,
    6.196% 99.629%,
    4.921% 99.187%,
    3.757% 98.595%,
    2.722% 97.867%,
    1.834% 97.018%,
    1.112% 96.064%,
    0.573% 95.019%,
    0.236% 93.898%,
    0.12% 92.717%,
    0.12% 7.283%
  );
}

.swiper {
  width: 100%;
  min-height: 600px;
  margin-top: 100px;
  padding: 10px !important;
}

.services .swiper-pagination-bullet {
  width: 20px !important;
  height: 20px !important;
  opacity: 1 !important;
  background: #fff !important;
  transition: all 0.2s;
}
.portolio .swiper-pagination-bullet {
  width: 20px !important;
  height: 20px !important;
  opacity: 1 !important;
  background: #e4e7ec !important;
  transition: all 0.2s;
}

.portolio .swiper-pagination-bullet-active,
.services .swiper-pagination-bullet-active {
  background: #fd853a !important;
  width: 60px !important;
  border-radius: 10px !important;
}





/* ONE */




